.about{
    text-align: center;
    margin-top: 30px;
}
.logo{
    width: 120px;
    height: 120px;
}
.title{
    font-size: 14px;
    font-weight: 400;
    color:#1B1F26;
}
.version{
    font-weight: 400;
    font-size: 14px;
    color: #828A99;
    margin-top: 10px;
}