.basicSetting{
    padding: 20px;
}
.line{
    border: 1px solid #ddd;
    margin-top: 20px;
}
.dropdown{
    float: right;
}
.clearBtn{
   float: right;
    width: 81px;
    height: 32px;
    border-radius: 240px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: #E20E0E !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CancelBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 32px;
    border-radius: 240px;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    margin-left: 200px;
}
.Delete{
    float: right;
    width: 53px;
    height: 32px;
    border-radius: 240px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: #E20E0E !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.export{
    float: right;
    width: 53px;
    height: 32px;
    border-radius: 240px;
    font-weight: 400;
    font-size: 14px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switchOperate{
    float: right;
}
.confirmBtn{
    float: right;
    width: 53px;
    height: 32px;
    border-radius: 240px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: #1A66FF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CancelswitchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 32px;
    border-radius: 240px;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    margin-left: 220px;
}
.clearDeleteBtn{
    float: right;
    width: 53px;
    height: 32px;
    border-radius: 240px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: #E20E0E  !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userInfo{
    float: right;
}
.revise{
    float: right;
    width: 53px;
    height: 32px;
    border-radius: 240px;
    font-weight: 400;
    font-size: 14px;
    background: transparent ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passwordInput{
    width: 310px;
    height: 44px;
    border-radius: 6px;
    padding: 10px 10px;
    margin: 10px 20px;
}